@model Student

@{
    ViewData["Title"] = "Student Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
    </dl>
</div>

@if (Model.ProjectStudents.Any())
{
    <div class="mt-4">
        <h5>Projects</h5>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Supervisor</th>
                    <th>Submission Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var projectStudent in Model.ProjectStudents)
                {
                    <tr>
                        <td>@projectStudent.Project.Title</td>
                        <td>@projectStudent.Project.Status</td>
                        <td>@projectStudent.Project.Supervisor.FirstName @projectStudent.Project.Supervisor.LastName</td>
                        <td>@projectStudent.Project.SubmissionDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>